.content {
    background-image: url(../../../assets/content-background.jpg);
    background-size: cover;
    height: calc(100vh - 7rem);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset 0px 0px 20px 0px #000000;
}