.header {
    background-image: url(../../../assets/head-foot-background.jpg);
    background-size: cover;
    height: 7rem;

    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 30px;

    border-bottom: 1px solid black;
}

.header__inner {
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    height: 90px;
}

.header__title-container {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background-color: rgb(221, 198, 66);
    border: 1px solid #2c0352;
    box-shadow: 0 0 10px 0 #2c0352;
    border-radius: 25%;
}

.header__menu-list {
    font-size: 28px;
    display: flex;
    gap: 1rem;

}