.header {
    background-image: url(../../../assets/content-background.jpg);
    background-size: cover;
    height: 7rem;

    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 26px;

    border-bottom: 1px solid black;
}

.header__inner {
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.header__title-link {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    margin-left: 300px;
    background-color: rgb(221, 198, 66);
    border: 1px solid #2c0352;
    box-shadow: 0 0 10px 0 #2c0352;
    border-radius: 25%;
}

.header__menu {
    position: absolute;
    margin-left: 50%;
}

.header__menu-list {
    font-size: 28px;
    display: flex;
    gap: 1rem;

}

.back-button {
    position: absolute;
    top: 20px;
    right: 16px;
}